.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gradient-bar);
    border-radius: 5px;
    padding: 2rem;
    margin: 4rem;
}

.gpt3__cta-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gpt3__cta-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */


color: #0E0E0E;
}

.gpt3__cta-content h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    /* or 188% */


    color: #000000;
} 

.gpt3__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.gpt3__cta-btn button {
    background: #000000;
    border-radius: 40px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 660px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-content {
        text-align: center;
        margin-bottom: 1rem;
    }

    .gpt3__cta-content h3{
        font-size: 20px;
        line-height: 38px;
    }

    .gpt3__cta-btn {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__cta {
        margin: 4rem 2rem;
    }

     .gpt3__cta-content h3{
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button{
        font-size: 14px;
        line-height: 28px;
    }
}